/*font-family: 'Montserrat', sans-serif;*/
body,
h1,
h2,
h3,
p,
span {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

body{
    color: #2b2b2b;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

.menu{
    background-color: #FFFFFF;
    padding: 15px ;
}